<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  

  <ion-list>
    <ion-item>
      <ion-select label="Figura Geometrica" placeholder="Selecciones Figura"
      (ionChange)="handleChange($event)">
        <ion-select-option value="triangulo">Triangulo</ion-select-option>
        <ion-select-option value="circulo">Circulo</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>


  <app-circulo  *ngIf="componente == 'circulo'" />
  
  <app-triangulo *ngIf="componente == 'triangulo'" />

</ion-content>
